<% layout('layout/boilerplate') %>

<div class="row">
	<h1 class="text-center">Edit Campground</h1>
	<div class="col-6 offset-3">
		<form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
			<div class="mb-3">
				<label for="title" class="form-label">New Title</label>
				<input type="text" id="Title" name="campground[title]" class="form-control" value="<%= campground.title%>" required>
				<div class="invalid-feedback">
					Please enter a new title.
				</div>
			</div>
			<div class="mb-3">
				<label for="location" class="form-label">New Location</label>
				<input type="text" id="location" name="campground[location]" class="form-control" value="<%= campground.location%>" required>
				<div class="invalid-feedback">
					Please center a new location.
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label">Add More Image(s)</label>
				<div class="form-file custom-file">
					<input class="form-control custom-file-input" type="file" id="image" name="image" multiple
					onchange="previewMultiple(event)">
					<label for="image" class="form-label custom-file-label mt-2" style="font-size: 0.8rem"></label>
				</div>
				<div id="formFile"></div>
				<div class="invalid-feedback">
					Please choose a new image.
				</div>
			</div>

			<div class="mb-3">
				<label for="price" class="form-label">Price</label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">$</span>
					<input type="text" class="form-control" placeholder="0.0" aria-label="Username" aria-describedby="basic-addon1" id="price" name="campground[price]" value="<%= campground.price %>" required>
					<div class="invalid-feedback">
						Please enter a new price.
					</div>
				</div>

			</div>

			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea id="description" class="form-control" name="campground[description]" required><%= campground.description %></textarea>
				<div class="invalid-feedback">
					Please enter a new description.
				</div>
			</div>

			<div class="mb-3">
				<% campground.image.forEach(function(img, i) { %>
				<img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
				<div class="form-check_inline">
					<input type="checkbox" name="deleteImage[]" value="<%= img.filename %>" id="image-<%= i %>">
					<label for="image-<%= i %>">Delete?</label>

				</div>

				<% }) %>
				
			</div>



			<div class="mb-3">
				<button class="btn btn-info">Update Campground</button>
			</div>
			
		</form>

		<footer class="mb-3">
			<a href="/campgrounds/<%= campground._id%>">Back to Campground</a>
		</footer>

	</div>
</div>